<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        main {
            display: grid;
            justify-content: center;
            align-content: center;
            border-style: double;
            border-radius: 5px;
            border-color: black;
            padding: 20px;
        }
        h1 {
        	text-align: center;
        }
        .code {
        	text-align: center;
            font-size: 24px;
            font-weight: bold;
        }
        .confirm {
            color: white;
            background-color: rgb(0, 105, 0);
            border-radius: 10px;
            font-weight: bold;
            font-size: 16px;
            padding: 10px;
            border: none;
            cursor: pointer;
        }
        .confirm:hover {
            background-color: green;
            box-shadow: rgba(50, 50, 93, 0.5) 0px 5px 10px 0px;
        }
    </style>
</head>
<body>
	<main>
    	<h1>Recuperación de contraseña</h1>
    	<p>Has iniciado el proceso de recuperación de contraseña. Para ello deberás hacer click en "Recuperar contraseña" e introducir el código que te hemos enviado. Recordar que este proceso tiene un límite de 15 minutos. Vencido el plazo deberás iniciar otra vez el proceso.</p>
    	<p class="code">{{ code }}</p>
    	<a href={{ link }} target="_blank">
      		<button class="confirm">Recuperar contraseña<//button>
    	</a>
    </main>
</body>
</html>